version: 2.1

jobs:
  build_unsigned_release:
    docker:
      - image: monzoandroid/ci@sha256:f60519426ff50c95dfce8205726f98f8dfdccac4dfad4aa4c0b3477d38092371
    resource_class: small
    working_directory: /release-playground
    steps:
      - checkout
      - run:
          name: Build minified/obfuscated debug APK
          command: |
            ./gradlew app:assembleDebug -PpostprocessingEnabled=true -PreleaseVersionNames=${RELEASE_VERSION_NAMES}
      - run:
          name: Build unsigned release APK
          command: |
            ./gradlew app:assembleRelease -Punsigned -PreleaseVersionNames=${RELEASE_VERSION_NAMES}
      - store_artifacts:
          path: /release-playground/app/build/outputs/
          destination: outputs/
      - run:
          name: Generate deep links
          command: |
            mkdir deep-links
            echo "Fake deep link list" > deep-links/supported_deep_links.txt
      - store_artifacts:
          path: /release-playground/deep-links/
          destination: results/

  build_and_staging_ui_tests:
    docker:
      - image: monzoandroid/ci:0.19
    resource_class: small
    working_directory: /release-playground
    steps:
      - checkout
      - run:
          name: Pretend to run staging UI tests
          command: sleep 60

workflows:
  commit:
    jobs:
      - build_unsigned_release
